main > .container {
    padding: 80px 15px 20px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

a.desc:after {
    content: '↓';
}
a.asc:after {
    content: '↑';
}

a.asc:after, a.desc:after {
    display: inline-block;
    width: 0;
    height: 0;
    background: transparent;
}


.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.select2-container .select2-selection {
    height: 40px;
    overflow: auto;
}